#gallery {
  max-width: 1170px;
  margin: 0 auto;
}

#gallery .gallery-header {
  margin-top: 60px;
  margin-bottom: 40px;
}
#gallery .gallery-contents {
  border-top: 1px solid #f2f2f2;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#gallery .gallery-contents img {
  flex: 1;
}

#pagination {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

#pagination .arrows {
  display: flex;
  gap: 14px;
}

#pagination .arrows img {
  cursor: pointer;
  /* width: 24px; */
  padding: 8px;
  border: 1px solid #f2f2f2;
}
#pagination .arrows img:nth-child(2) {
  background-color: #f9f9f9;
}
