header {
  position: sticky;
  top: 0;
  height: 102px;
  max-width: 1540px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 480px 20px 175px;
  background-color: white;
  z-index: 9999;
}

/* hide hamburger */
header #hamburger {
  display: none;
}

header a {
  text-decoration: none;
  color: #333333;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
header a:hover {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
header a.active {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

header .logo {
  width: 70px;
  height: 43.71px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

header #logo-name {
  width: 80px;
  /* height: 14px; */
  margin-top: -12px;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  /* background-color: green; */
  padding: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

@media screen and (max-width: 1313px) {
  header {
    padding: 20px 80px 20px 175px;
  }
}
@media screen and (max-width: 880px) {
  header {
    padding: 20px 40px 20px 40px;
  }

  nav ul {
    gap: 20px;
  }
}
@media screen and (max-width: 630px) {
  nav ul {
    display: none;
  }

  header #hamburger {
    display: block;
  }
}

/* MOBILE SCREEN */

.mobile-nav-container {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 10px 0px 0px 10px;
  width: 0px;
  min-height: 943px;
  z-index: 9999;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  width: 100%;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  width: 0;
  min-height: 943px;
  z-index: 9999;

  overflow: hidden;
  transform: translateX(-100%);

  animation-name: hamburgerToggle;
  animation-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes hamburgerToggle {
  0% {
    width: 0%;
  }
  100% {
    max-width: 60%;
  }
}

.mobile-nav-width {
  transform: translateX(0);
  width: 35%;
}

/* .mobile-nav-hidden {
  transform: translateX();
  width: 0;
} */

.mobile-nav ul {
  margin-top: 90px;
  margin-left: 20px;
}
.mobile-nav ul .active {
  background-color: var(--green);
  color: var(--white);
  border-radius: 8px;
}

.mobile-nav ul li {
  max-width: 220px;
  height: 64px;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--black);

  display: flex;
  /* justify-content: center; */
  padding: 20px 60px 20px 20px;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
}

@media screen and (max-width: 700px) {
  .mobile-nav-width {
    transform: translateX(0);
    width: 45%;
  }
}

@media screen and (max-width: 545px) {
  .mobile-nav-width {
    transform: translateX(0);
    width: 50%;
  }
}

@media screen and (max-width: 490px) {
  .mobile-nav-width {
    transform: translateX(0);
    width: 65%;
  }
}
@media screen and (max-width: 375px) {
  .mobile-nav-width {
    transform: translateX(0);
    width: 70%;
  }
}
