@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#homepage {
  max-width: 1170px;
  min-height: 100vh;
  margin: 0 auto;
  /* background-color: red; */
}

#homepage .hero-container {
  width: 100%;
  min-height: 829px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homepage .hero-container .image {
  max-width: 790px;
  height: 892px;

  position: relative;
}
#homepage .hero-container .image img {
  width: 100%;
}

.hero-container .contents .arrows {
  margin-top: 80px;
  display: flex;
  /* justify-content: center; */
  gap: 8px;

  margin-bottom: 70px;
}

.hero-container .contents .arrows img {
  cursor: pointer;
  /* width: 24px; */
  padding: 8px;
  border: 1px solid #f2f2f2;
}
.hero-container .contents .arrows img:nth-child(2) {
  background-color: #f9f9f9;
}

.about {
  min-height: 435px;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;

  padding: 30px 80px 0px 80px;
}

.about .images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  /* flex-direction: column; */
}
.about .images .left {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.about .images img {
  width: 270px;
}

.about .content {
}
.about .content p {
  margin-top: 14px;
  max-width: 400px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #000000;

  margin-bottom: 40px;
}

#focus {
  margin-top: 100px;
  max-width: 1170px;
  min-height: 268px;
}
#focus h1 {
  font-size: 200px;
  font-weight: 900;
  color: #f2f2f2;
}
#focus p {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
}

#focus .content {
  display: flex;
  justify-content: space-between;
}

#focus .content .left {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}
#focus .content .left p {
  max-width: 279px;
}
#focus .content .right {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

#projects {
  padding-top: 80px;
  max-width: 1170px;
  min-height: 765px;
}

#projects .images {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

#projects .images img {
  max-height: 255px;
  flex: 1;
}

#projects .images img:nth-child(3) {
  max-width: 270px;
}
/* #projects .images img:nth-child(5) {
  max-width: 270px;
  height: 255px;
} */
#projects .button {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

#contact {
  margin-top: 80px;
  min-height: 603px;
}

#contact .contact-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#contact .contact-wrapper img {
  height: 350px;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#contact form input {
  padding: 8px;
  border: none;
  width: 391px;
  height: 46px;
  background: #f3f3f3;
}
#contact form textarea {
  padding: 8px;
  border: none;
  width: 391px;
  height: 100px;
  /* height: 147px; */
  background: #f3f3f3;
  resize: none;

  margin-bottom: 50px;
}

@media screen and (max-width: 1175px) {
  #homepage {
    padding: 0 12px 0 12px;
  }
}
@media screen and (max-width: 1073px) {
  #homepage .hero-container {
    margin: 0 auto;
    width: 100%;
    /* min-height: 829px; */

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }
  .hero-container .image {
    order: -1;
  }

  #homepage .hero-container .image img {
    margin-bottom: -600px;
  }

  .hero-container .arrows {
    /* padding-top: -4000px; */
    justify-content: space-between;
  }
  .hero-container .slider1 {
    display: none;
  }
  .hero-container .hero-btn {
    display: none;
  }

  /* about */
  .about {
    min-height: 435px;
    display: flex;
    align-items: center;

    padding: 30px 0px 0px 0px;
  }

  .about .images .left {
    display: none;
  }

  .about .content p {
    margin-top: 14px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #000000;

    margin-bottom: 0px;
  }

  /* focus */

  #focus .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #focus .content .left p {
    max-width: 100%;
  }

  #contact .contact-wrapper img {
    max-width: 500px;
  }
}

@media screen and (max-width: 700px) {
  #homepage {
    /* padding-top: -200px; */
    min-height: 500px;
  }

  #homepage .hero-container {
    min-height: 200px;
  }
  #homepage .hero-container .image img {
    height: 800px;
    margin-top: -600px;
  }

  .hero-container .contents .arrows {
    /* display: none; */
    justify-content: space-between;

    margin-top: -400px;
  }
  .hero-container .slider1 {
    display: none;
  }
  .hero-container .hero-btn {
    display: none;
  }
  .hero-header {
    display: none;
  }

  /* about */
  .about {
    min-height: 435px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about img {
    display: none;
  }

  /* projects */

  #projects .images img {
    /* max-height: 170px; */
    width: 170px;
    flex: 1;
  }
  #projects .images img:nth-child(3) {
    display: none;
  }

  #contact .contact-wrapper {
    padding: 0 5px 0 5px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  #contact .contact-wrapper img {
    max-width: 100%;
  }
}
