* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}
a.active {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

header {
  height: 102px;
  max-width: 1540px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px 20px 100px;
  background-color: white;
}

/* .header {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
} */

header .logo {
  width: 70px;
  height: 43.71px;
  display: flex;
  flex-direction: column;
}

header #logo-name {
  margin-top: -12px;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  /* background-color: green; */
  padding: 4px;
}
